{% block header %}
<h1>{% block title %}Create alarm clock{% endblock %}</h1>
{% endblock %}

{% block contect %}
<h2>{{error}}</h2>
<form method="POST">
    <table>
        <tr>
            <td>
                <p>Time </p>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <label for="year">Year </label>
                        </td>
                        <td>
                            <input type="text" id="year" name="year" value="{{ time.year }}"/ required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="month">Month </label>
                        </td>
                        <td>
                            <select size="1" name="month" required>
                                <option {% if time.month==1%} selected {% endif %} value="1">January</option>
                                <option {% if time.month==2%} selected {% endif %} value="2">February</option>
                                <option {% if time.month==3%} selected {% endif %} value="3">March</option>
                                <option {% if time.month==4%} selected {% endif %} value="4">April</option>
                                <option {% if time.month==5%} selected {% endif %} value="5">May</option>
                                <option {% if time.month==6%} selected {% endif %} value="6">June</option>
                                <option {% if time.month==7%} selected {% endif %} value="7">July</option>
                                <option {% if time.month==8%} selected {% endif %} value="8">August</option>
                                <option {% if time.month==9%} selected {% endif %} value="9">September</option>
                                <option {% if time.month==10%} selected {% endif %} value="10">October</option>
                                <option {% if time.month==11%} selected {% endif %} value="11">November</option>
                                <option {% if time.month==12%} selected {% endif %} value="12">December</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="day">Day </label>
                        </td>
                        <td>
                            <input type="text" id="day" name="day" value="{{ time.day }}" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="hour">Hours </label>
                        </td>
                        <td>
                            <input type="text" id="hour" name="hour" value="{{ time.hour }}" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="minute">Minutes </label>
                        </td>
                        <td>
                            <input type="text" id="minute" name="minute" value="{{ time.minute }}" required/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <label for="text">Text </label>
            </td>
            <td>
                <input type="text" id="text" name="text" required/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Create alarm clock"/>
</form>
{% endblock %}
